<% include partials/header %>

<h1>Register </h1>
<hr>

<form method="POST" action="/users/register">
  <div id="form-group" >
    <label>Name </label>
    <input class="form-control" name="name" type= "text">
  </div>
  <br>
  <div id="form-group" >
    <label>Email </label>
    <input class="form-control" name="email" type= "text">
  </div>
  <br>
  <div id="form-group" >
    <label>Password </label>
    <input class="form-control" name="password" type= "password">
  </div>
  <br>
  <div id="form-group" >
    <label>Confirm Password </label>
    <input class="form-control" name="password2" type= "password">
  </div>
  <br>
  <h3> Are you a ... </h3>
  <span style="color:#317eac;"><label class="radio-inline"><input type="radio" name="role" value="teacher">Teacher?</label></span>
  <span style="color:#317eac;"><label class="radio-inline"><input type="radio" name="role" value="student">Student?</label></span>
  <hr>
  <div id="form-group" >
    <label>Class Code </label>
    <br>Teachers: make-up your own class code. Students: ask for your teacher's class code <br>
    <input class="form-control" name="class_code" type= "text" placeholder = "wXy1z    abc123">
  </div>
  <br>
  <div id="form-group" >
    <label>Class Title </label>
    <input class="form-control" name="class_title" type= "text" placeholder = "Physics     Algebra">
  </div>
  <br>
  <input class = "btn btn-primary" type="submit" value="OK">
</form>
<hr>
<h3> Note to Demo: </h3>
Name: ELiu &emsp; email: eliu@gapp.gmail.com &emsp; password: aaaaa &emsp;  class code: wXy1z &emsp; class title: Physics &emsp; role: teacher <br>
Name: MsLee &emsp; email: mlee@gapp.nthu.edu.tw &emsp; password: 123 &emsp;  class code: abc123 &emsp; class title: Algebra &emsp; role: teacher <br>
Name: Ann &emsp; email: ann@yahoo.com  &emsp; password: wxy &emsp;  class code: wXy1z &emsp; class title: Physics &emsp; role: student <br>
Name: Bill &emsp; email: bill@yahoo.com &emsp; password: 123 &emsp;  class code: wXy1z &emsp; class title: Physics &emsp; role: student <br>
Name: June &emsp; email: june@yahoo.com &emsp; password: abc &emsp;  class code: abc123 &emsp; class title: Algebra &emsp; role: student <br>


<% include partials/footer %>
